body {
	font-family: 'Sofadi One', cursive;
}

.container {
	background-color: rgb(229, 229, 229);
	width: 500px;
	height: 500px;
	position: relative;
	margin: auto;
	margin-top: 50px;
}

.tile {
	float: left;
	margin: 8px;
	background: rgb(128, 128, 128);
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 1.5em;
}

.c1{
	margin-left: 25px;
}

.r1 {
	margin-top: 25px;	
}

span {
	font-size: 1.5em;
	display: inline-block;
	line-height: 1.5em;
	vertical-align: middle;
	color: red;
}

.scoreboard {
	float:right;
	margin-right: 50px;
}

.gameOver {
	background-color: black;

}
